﻿@model List<CDI.Models.CAJEROM>

@{
    ViewBag.Title = "Index";
}

@*@section styles{
    <style>
        .highlight {
            background-color:slategray;
        }
    </style>
    }*@

@section scripts{

    <script type="text/html" id="mytemplate">

        <% _.each(results,function(atmDetails) { %>
        <tr>
            <td class="text-center"><%= atmDetails.A_EmailAut %></td>
            <td class="text-center"><%= atmDetails.A_NombreContacto %></td>
            <td class="text-center"><%= atmDetails.A_TelfContacto %></td>
            <td class="text-center"><%= atmDetails.A_ObsrvContacto %></td>
            <td class="text-center"><%= atmDetails.A_Observaciones %></td>
            <td class="text-center"><%= atmDetails.A_HASlmDispensador %></td>
            <td class="text-center"><%= atmDetails.A_HASlmOtrosModulos %></td>
            <td class="text-center"><%= atmDetails.A_HAFlmTDV %></td>
            <td class="text-center"><%= atmDetails.A_HAFlmTOC %></td>
            <td class="text-center"><%= atmDetails.A_HSAtm %></td>
            <td class="text-center"><%= atmDetails.A_HSOficina %></td>
            <td class="text-center"><%= atmDetails.A_ATMUptimeU6 %></td>
            <td class="text-center"><%= atmDetails.A_TransaccU6 %></td>
        </tr>
        <%
        });
        %>
    </script>
    <script>
        /*función de inicio*/
        $(function ()
        {
        
            $("#master tbody tr").click(function ()
            {
                $(this).addClass('highlight').siblings().removeClass('highlight');
                var Id = this.cells[14].textContent;
                //alert(Id);
                GetATMDetailsByOrderId(Id);
            });

            function GetATMDetailsByOrderId(Id)
            {
                $.ajax({
                    url: 'GetATMDetailsByOrderId',
                    type: 'GET',
                    data: { objectId: Id },
                    error: function (ex) {
                        alert(Id);
                    },
                    success: function (response)
                    {
                        if (response.Results != null)
                        {
                            var template = _.template($('#mytemplate').html());
                            $('#ATM tbody').html(template({ results: response.Results }));

                            //var template = $("#mytemplate").html();
                            //$("#ATM tbody").html(_.template(template,{results: response.Results}));
                        }
                    }


                });
            }

            $(document).ready(function () {
                $('#master').DataTable({
                    "scrollY": "50vh",
                    "scrollCollapse": true,
                });
                $('.dataTables_length').addClass('bs-select');
            });


            







        });
    </script>
    }

<h2>Cajeros</h2>
<hr />
<h3>Cajeros</h3>

    @*<table id="master" class="table-hover table-bordered" style="width:100%;">*@
<table id="master" class="table table-striped table-bordered table-sm" cellspacing="0"
       width="75">
    <thead>
        <tr class="table-light">
            <th class="text-center small" scope="row">ATM</th>
            <th class="text-center" scope="row">Nombre ATM</th>
            <th class="text-center" scope="row">Dirección</th>
            <th class="text-center" scope="row">Ciudad</th>
            <th class="text-center" scope="row">Tipo</th>
            <th class="text-center" scope="row">Categoria</th>
            <th class="text-center" scope="row">Entidad</th>
            <th class="text-center" scope="row">Administración</th>
            <th class="text-center" scope="row">Regional</th>
            <th class="text-center" scope="row">Zona</th>
            <th class="text-center" scope="row">Transportadora</th>
            <th class="text-center" scope="row">Sector</th>
            <th class="text-center" scope="row">District</th>
            <th class="text-center" scope="row">Comunicación</th>
            <th class="text-center hide" scope="row">key</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
            {
            <tr>
                <td class="text-center">@o.C_IdCajero</td>
                <td class="text-center">@o.C_NombreCajero</td>
                <td class="text-center">@o.C_Direccion</td>
                <td class="text-center">@o.C_Ciudad</td>
                <td class="text-center">@o.C_Tipo</td>
                <td class="text-center">@o.C_TipoCategoria</td>
                <td class="text-center">@o.C_Entidad</td>
                <td class="text-center">@o.C_Administracion</td>
                <td class="text-center">@o.C_Regional</td>
                <td class="text-center">@o.C_Zona</td>
                <td class="text-center">@o.C_Transportadora</td>
                <td class="text-center">@o.C_Sector</td>
                <td class="text-center">@o.C_District</td>
                <td class="text-center">@o.C_Comunicacion</td>
                <td class="text-center hide">@o.C_ObjectKey</td>
            </tr>
        }
    </tbody>
</table>



    <h3>Detalle</h3>

    @*<div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Crear Nueva Registro para ATMs</a>
    </div>*@
    <br />
    <br />

    <table id="ATM" class="table-hover table-striped table-bordered table-sm" style="width:100%;">
        <thead>
            <tr>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Correos Autorización de Ingreso">CAI</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Nombre Contacto">NC</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Teléfono Contacto">TC</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Observaciones Contacto">OBSC</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Observaciones">OBS</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Horario Atención SLM Dispensador">HASLMDISP</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Horario Atención SLM Otros Módulos">HASLMOM</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Horario Atención FLM (TDV)">HAFLMTDV</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Horario Atención FLM (TOC)">HAFLMTOC</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Horario de Servicio del Cajero">HSATM</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Horario de Servicio de Oficina">HSOFI</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Uptime del Cajero de los Últimos 6 Meses">UPATMLAST6</th>
                <th class="text-center" data-toggle="tooltip" data-html="true" title="Transaccionalidad del Cajero de los Últimos 6 Meses">TRANSATMLAST6</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5">
                    <p>Seleccione un Cajerom...</p>
                </td>
            </tr>
        </tbody>
    </table>
