﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">
            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
            @*<li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Menú
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("ATM", "Index", "MaestroDetalle/")</li>
                    <li>@Html.ActionLink("Solución de Video", "Index", "MaestroDetalle/")</li>
                    <li>@Html.ActionLink("Usuarios", "Users", "AspNetUser/")</li>
                    @*<li>@Html.ActionLink("Detalles Ordenes", "Index", "Orderdetails")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Nueva Orden", "NewOrder", "Sales")</li>*@
                </ul>
        </ul>


    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}