﻿
@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Vista Administrador. Crear un nuevo Role.</h1>
    <h3>
        <li>@Html.ActionLink("Consola Administrador Role", "Index", "Role")</li>
    </h3>
}
else
{
    <h2>  Bienvenido <strong>@ViewBag.Name</strong> </h2>
}

