﻿@model List<CDI.Models.ViewModels.ListUsersViewModel>
@{
    ViewBag.Title = "Usuarios";
}

<h2>ViewBag.Title</h2>


<script type="text/javascript">
        function DeleteConfirm() {
            if (confirm("Está seguro de eliminar el Registro"))
                return true;
            else
                return false;
        }
</script>


<div class="row" style="text-align:right;padding:5px">
    <a href="~/Account/Register" class="btn btn-primary">Registrar</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Email</th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.Id</td>
                    <td>@oElemento.UserName</td>
                    <td>@oElemento.Email</td>
                    <td>
                        <a class="btn btn-default" href="~/AspNetUser/Editar/@oElemento.Id">Editar</a>
                        <a onclick="return  DeleteConfirm()" class="btn btn-danger" href="~/AspNetUser/Eliminar/@oElemento.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>