﻿@model CDI.ViewModels.ATMViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Maestro", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.A_ObjectKey)
                @Html.TextBoxFor(d => d.A_ObjectKey, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.A_ObjectKey, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.A_EmailAut)
                @Html.TextBoxFor(d => d.A_EmailAut, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.A_EmailAut, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.A_NombreContacto)
                @Html.TextBoxFor(d => d.A_NombreContacto, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.A_NombreContacto, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.A_TelfContacto)
                @Html.TextBoxFor(d => d.A_TelfContacto, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.A_TelfContacto, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.A_ObsrvContacto)
                @Html.TextBoxFor(d => d.A_ObsrvContacto, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.A_ObsrvContacto, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.A_Observaciones)
                @Html.TextBoxFor(d => d.A_Observaciones, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.A_Observaciones, null, new { @class = "red" })
            </div>
            <br />
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>

    </div>
}

