﻿@model CDI.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Maestro Detalle";
}

<h2>@ViewBag.Title</h2>

<h4>Filtrar</h4>
@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <label for="objectkey">Código Cajero</label>
    <input type="number" name="objectkey" id="objectkey" />
    <input type="submit" value="Filtrar" class="btn btn-success" />
}

<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Código Cajero</th>
                    <th>ObjectKey</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var oElemento in Model.Cajeros)
                {
                    <tr>
                        <td>@oElemento.C_IdCajero</td>
                        <td>@oElemento.C_NombreCajero</td>
                        <td>@oElemento.C_ObjectKey</td>
                        <td>
                            <a class="btn btn-default" href="~/Maestro/Create/@oElemento.C_ObjectKey">Editar</a>
                            @*<a onclick="return  DeleteConfirm()" class="btn btn-danger" href="~/AspNetUser/Eliminar/@oElemento.Id">Eliminar</a>*@
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Código Cajero
                    </th>
                    <th>
                        ObjectKey
                    </th>
                    
                </tr>
            </tfoot>
        </table>
        @{Html.RenderPartial("_paginador", Model);}
    </div>
</div>



@using (Html.BeginForm("Create", "Maestro", FormMethod.Post))
{
    <div class="details">
        <h2>
            Detalle Cajeros
        </h2>
        <table class="table table-responsive">
            <tr>
                @*<td>A_ObjectKey</td>*@
                <td>A_EmailAut</td>
                <td>A_NombreContacto</td>
                <td>A_TelfContacto</td>
                <td>A_ObsrvContacto</td>
                <td>A_Observaciones</td>
                <td>A_HASlmDispensador</td>
                <td>A_HASlmOtrosModulos</td>
                <td>A_HAFlmTDV</td>
                <td>A_HAFlmTOC</td>
                <td>A_HSAtm</td>
                <td>A_HSOficina</td>
                <td>A_ATMUptimeU6</td>
                <td>A_TransaccU6</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="mycontainer" id="mainrow">
                <td>
                    @*<input type="text" id="A_ObjectKey" class="A_ObjectKey form-control" />*@
                    @*<label class="sr-only" for="A_ObjectKey">A_ObjectKey</label>
                    <input type="text" class="form-control" id="A_ObjectKey" placeholder="ObjectKey">*@
                    @*@Html.TextBoxFor(m => m.A_ObjectKey, new { @class = "form-control" })*@
                    @Html.HiddenFor(a => a.A_ObjectKey)
                </td>
                <td>
                    
                    @Html.TextBoxFor(m => m.A_EmailAut, new { @class = "form-control" })
                    @*<input type="text" id="A_EmailAut" class="A_Email form-control" />*@
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_NombreContacto, new { @class = "form-control" })
                    @*<input type="text" id="A_NombreContacto" class="A_NombreContacto form-control" />*@
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_TelfContacto, new { @class = "form-control" })
                    @*<input type="text" id="A_TelfContacto" class="A_TelfContacto form-control" />*@
                </td>

                <td>
                    @Html.TextBoxFor(m => m.A_ObsrvContacto, new { @class = "form-control" })
                    @*<input type="text" id="A_ObsrvContacto" class="A_ObsrvContacto form-control" />*@
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_Observaciones, new { @class = "form-control" })
                    @*<input type="text" id="A_Observaciones" class="A_Observaciones form-control" />*@
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_HASlmDispensador, new { @class = "form-control" })
                    @*<input type="text" id="A_HASlmDispensador" class="A_HASlmDispensador form-control" />*@
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_HASlmOtrosModulos, new { @class = "form-control" })
                    @*<input type="text" id="A_HASlmOtrosModulos" class="A_HASlmOtrosModulos form-control" />*@
                </td>

                <td>
                    @Html.TextBoxFor(m => m.A_HAFlmTDV, new { @class = "form-control" })
                    @*<input type="text" id="A_HAFlmTDV" class="A_HAFlmTDV form-control" />*@
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_HAFlmTOC, new { @class = "form-control" })
                    @*<input type="text" id="A_HAFlmTOC" class="A_HAFlmTOC form-control" />*@
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_HSAtm, new { @class = "form-control" })
                    @*<input type="text" id="A_HSAtm" class="A_HSAtm form-control" />*@
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_HSOficina, new { @class = "form-control" })
                    @*<input type="text" id="A_HSOficina" class="A_HSOficina form-control" />*@
                </td>

                <td>
                    @Html.TextBoxFor(m => m.A_ATMUptimeU6, new { @class = "form-control" })
                    @*<input type="text" id="A_ATMUptimeU6" class="A_ATMUptimeU6 form-control" />*@
                </td>
                <td>
                    @Html.TextBoxFor(m => m.A_TransaccU6, new { @class = "form-control" })
                    @*<input type="text" id="A_TransaccU6" class="A_TransaccU6 form-control" />*@
                </td>
                <td>
                    <input type="button" id="add" value="Añadir" style="width:80px" class="btn btn-success" />
                </td>
            </tr>
        </table>
        @*<div id="orderItems">
            <table class="table table-responsive" id="orderdetailsItems"></table>
            <span id="orderItemError" style="color:red"></span>
        </div>
        <div style="padding:10px 0; text-align:right">
            <input id="submit" type="button" value="Guardar Orden" class="btn btn-warning" style="padding:10px 20px" />
        </div>*@

        <div class="form-group">
            <input type="submit" />
        </div>
    </div>
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/myScripts.js"></script>
<script type="text/javascript">
    $(function () {
        $('#orderDate').datepicker({
            dateFormat: 'mm-dd-yy'
        })
    })
</script>
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>




    @*/*<script > var num = 0; function AgregaConcepto() {
        let Cantidad = document.getElementById("Cantidad").value;
        let Precio = document.getElementById("Precio").value;
        let Nombre = document.getElementById("Nombre").value;
        //agregamos tabla let Tabla = document.getElementById("tablaConceptos");
        let TR = document.createElement("tr");
        let TDCantidad = document.createElement("td");
        let TDNombre = document.createElement("td");
        let TDPrecio = document.createElement("td");
        let TDTotal = document.createElement("td");
        TR .appendChild(TDCantidad);
        TR .appendChild(TDNombre);
        TR .appendChild(TDPrecio);
        TR .appendChild(TDTotal);
        TDCantidad .innerHTML = Cantidad;
        TDNombre .innerHTML = Nombre;
        TDPrecio .innerHTML = Precio;
        TDTotal .innerHTML = parseFloat(Cantidad) * parseFloat(Precio);
        Tabla .appendChild(TR);
        //agregamos hiddens let DivConceptos = document.getElementById("divConceptos");
        let HiddenIndex = document.createElement("input");
        let HiddenCantidad = document.createElement("input");
        let HiddenNombre = document.createElement("input");
        let HiddenPrecio = document.createElement("input");
        HiddenIndex .name = "conceptos.Index";
        HiddenIndex .value = num;
        HiddenIndex .type = "hidden";
        HiddenCantidad .name = "conceptos[" + num + "].Cantidad";
        HiddenCantidad .value = Cantidad;
        HiddenCantidad .type = "hidden";
        HiddenNombre .name = "conceptos[" + num + "].Nombre";
        HiddenNombre .value = Nombre;
        HiddenNombre .type = "hidden";
        HiddenPrecio .name = "conceptos[" + num + "].PrecioUnitario";
        HiddenPrecio .value = Precio;
        HiddenPrecio .type = "hidden";
        DivConceptos .appendChild(HiddenIndex);
        DivConceptos .appendChild(HiddenCantidad);
        DivConceptos .appendChild(HiddenNombre);
        DivConceptos .appendChild(HiddenPrecio);
        document .getElementById("Cantidad").value = "";
        document .getElementById("Precio").value = "";
        document .getElementById("Nombre").value = "";
        num ++;
    }

    </script >*/*@
