﻿@model CDI.Models.ATM

<h2>Save</h2>
@using (Html.BeginForm("save", "home", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.A_ObjectKey > 0)
    {
        @Html.HiddenFor(a => a.A_ObjectKey)
    }
    
    <div class="form-group">
        <label>Correos Autorización de Ingreso</label>
        @Html.TextBoxFor(a => a.A_EmailAut, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_EmailAut)
    </div>
    <div class="form-group">
        <label>Nombre Contacto</label>
        @Html.TextBoxFor(a => a.A_NombreContacto, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_NombreContacto)
    </div>
    <div class="form-group">
        <label>Teléfono Contacto</label>
        @Html.TextBoxFor(a => a.A_TelfContacto, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_TelfContacto)
    </div>
    <div class="form-group">
        <label>Observaciones Contacto</label>
        @Html.TextBoxFor(a => a.A_ObsrvContacto, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_ObsrvContacto)
    </div>
    <div class="form-group">
        <label>Observaciones</label>
        @Html.TextBoxFor(a => a.A_Observaciones, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_Observaciones)
    </div>
    <div class="form-group">
        <label>Horario Atención SLM Dispensador</label>
        @Html.TextBoxFor(a => a.A_HASlmDispensador, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_HASlmDispensador)
    </div>
    <div class="form-group">
        <label>Horario Atención SLM Otros Módulos</label>
        @Html.TextBoxFor(a => a.A_HASlmOtrosModulos, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_HASlmOtrosModulos)
    </div>
    <div class="form-group">
        <label>Horario Atención FLM (TDV)</label>
        @Html.TextBoxFor(a => a.A_HAFlmTDV, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_HAFlmTDV)
    </div>
    <div class="form-group">
        <label>Horario Atención FLM (TOC)</label>
        @Html.TextBoxFor(a => a.A_HAFlmTOC, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_HAFlmTOC)
    </div>
    <div class="form-group">
        <label>Horario de Servicio del Cajero</label>
        @Html.TextBoxFor(a => a.A_HSAtm, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_HSAtm)
    </div>
    <div class="form-group">
        <label>Horario de Servicio de Oficina</label>
        @Html.TextBoxFor(a => a.A_HSOficina, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_HSOficina)
    </div>
    <div class="form-group">
        <label>Uptime del Cajero de los Últimos 6 Meses</label>
        @Html.TextBoxFor(a => a.A_ATMUptimeU6, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_ATMUptimeU6)
    </div>
    <div class="form-group">
        <label>Transaccionalidad del Cajero de los Últimos 6 Meses</label>
        @Html.TextBoxFor(a => a.A_TransaccU6, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.A_TransaccU6)
    </div>
    

    <div>
        <input type="submit" value="Save" />
    </div>
}
